<div class="access content">
  <div class="insert-content segment">
    <%= render partial: "map" %>
  </div>
  <div class="access-text segment">
    <%= render partial: "access" %>
  </div>
  <div class="insert-content segment">
    <h1>SNS</h1>
    <%= render partial: "twitter_widget" %>
  </div>
</div>
<div class="more">
  <h1 id="and-more">And More...</h1>
</div>
