<div class="top-content">
  <!--<canvas id="pre-canvas">-->

  <!--</canvas>-->
</div>

<div class="down-allow">

</div>
<div class="fest-information">
  <%= render :partial => "fest_information" %>
</div>